
Rest/NetRia/.vs/NetRia/config/applicationhost.config
Rest/NetRia/.vs/NetRia/config/applicationhost.config
Rest/NetRia/NetRia/obj/Debug/NetRia.csproj.FileListAbsolute.txt
Rest/NetRia/Persistencia/App.Config
Rest/NetRia/Persistencia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rest/NetRia/Persistencia/obj/Debug/Persistencia.csproj.CoreCompileInputs.cache
Rest/NetRia/Persistencia/obj/Debug/Persistencia.csproj.FileListAbsolute.txt
Rest/NetRia/Persistencia/obj/Debug/Persistencia.csprojAssemblyReference.cache
Rest/NetRia/Persistencia/obj/Persistencia.csproj.nuget.dgspec.json
Rest/NetRia/Persistencia/obj/Persistencia.csproj.nuget.g.props
Rest/NetRia/Persistencia/obj/project.assets.json
Rest/NetRia/Persistencia/obj/project.nuget.cache
Rest/NetRia/Persistencia/Persistencia.csproj
