<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="netriaEntities" connectionString="metadata=res://*/Database.ModeloBD.csdl|res://*/Database.ModeloBD.ssdl|res://*/Database.ModeloBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-51FE0A8\SQLEXPRESS;initial catalog=netria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>