
.grid-configuracionJuego {
    height: 100%;
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.configuracionJuego input.input, select {
    height: 30px;
    border-radius: 25px;
    border: 2px solid var(--main2);
    padding: 5px;
    width: 100%;
    /*padding-left: 20px;*/
}

.configuracionJuego-submit {
    text-align: right;
}

.descripcion-juego {
    resize: none;
}
.grid-configuracionJuego iframe {
    width: 40vw;
    position: absolute; left: 10px;
}
.configurarYutu{
    width: 240px;
    
}
@media screen and (max-width: 1000px) {
    body{width: 100%; min-width:200px ;}
    .configuracionJuego input.input{
        height: 30px;
        border-radius: 25px;
        border: 2px solid var(--main2);
        padding: 5px;
        width: 100%;
        /*padding-left: 20px;*/
    }
    .descripcion-juego {
        resize: both;
        width: 90%;
    }
   
    .gamecoverImage{
        width: 100% /*revisar cuando tenga imágenes*/;
        height: auto;
    }
    .seccion1-config{       
        width: 100%;
    }
    .seccion1-config p{       
        width: 100%;
    }
    .seccion2-config {       
        width: 100% ; 
    }
    .grid-configuracionJuego {
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: 100% ; 
        grid-template-rows: 50% 50% auto-fit;
        row-gap: 20px;
        /*column-gap: 20px;*/
    }
    .grid-configuracionJuego iframe {
        width: 80vw;
            position: absolute; right: 10px;

    }
    .configurarYutu{
       
        width: inherit; 
    }
}