
.grid-configuracionJuego {
    height: 100%;
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.configuracionJuego input.input, select {
    height: 30px;
    border-radius: 25px;
    border: 2px solid var(--main2);
    padding: 5px;
    padding-left: 20px;
}

.configuracionJuego-submit {
    text-align: right;
}

.descripcion-juego {
    resize: none;
}
