/*
  Crear quiz
*/

.titleHeader {
    display: flex;
}

.crearPreguntas {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: calc(30% - 20px) 70%;
    column-gap: 20px;
}

.pregunta {
    display: flex;
    flex-direction: column;
    height: calc(50vh + 210px);
}

.grid-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

img.pregunta_foto {
    height: 50vh;
}

.inner-tablero {
    max-height: calc(50vh + 90px);
    overflow: overlay;
}