/*
  Welcome screen
 */

.index {
    display: flex;
    align-items: center;
    /*height: 100%;*/
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

.main_menu img {
    width: 200px;
}

.main_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    background: var(--main2);
    border-radius: 25px;
    margin: 0;
}

.main_menu .item {
    margin: 10px;
}

.main_introduction {
    border: 5px solid var(--main2);
    border-radius: 25px;
    height: 540px;
    padding: 10px;
    font-family: Montserrat, Serif;
    font-size: 25px;
    max-width: 600px;
    font-weight: 300;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
}

.grid-main-introduction {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    height: 100%;
}

.dark-mode .grid-main-introduction {
    filter: brightness(2);
}

.dark-mode .main_introduction p {
    color: var(--main2);
}

div.astronauta img {
    width: 20vh;
    top: 5vh;
    position: relative;
    height: 25vh;
    -webkit-animation: MoveUpDown 5s linear infinite;
    animation: MoveUpDown 8s linear infinite;
}

div.mundo img {
    width: 10vh;
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 5vh;
    }
    50% {
        top: 10vh;
    }
}

@media only screen and (max-width: 1000px) {

    .index {


        flex-direction: column-reverse;

    }
.main_menu{
    width: 74%;

}

    .main_introduction {
        display: none;
        width: 93%;
    }
}