input, select {
    border-radius: 25px;
}

.input-big {
    border: 0;
    border-bottom: 1px black solid;
    color: black;
    /*width: calc(100% - 15px);*/
    height: 26px;
    font-size: 30px;
    border: 2px solid var(--main2);
    padding: 5px;
    padding-left: 15px;
}

.input-big::placeholder {
    font-size: 30px;
    color: grey;
}

.input-regular, select {
    height: 30px;
    border: 2px solid var(--main2);
    padding: 5px;
    padding-left: 20px;
}

textarea.textarea-regular {
    border: 2px solid var(--main2);
    padding: 16px 5px;
    padding-left: 20px;
    font-family: sans-serif;
}