.input-big {
    border: 0;
    border-bottom: 1px black solid;
    color: black;
    width: 100%;
    height: 40px;
    font-size: 30px;
}

.input-big::placeholder {
    font-size: 30px;
    color: grey;
}

.input-regular, select {
    height: 30px;
    border-radius: 25px;
    border: 2px solid var(--main2);
    padding: 5px;
    padding-left: 20px;
}