.input-big {
    width: 100%;
    height: 40px;
    font-size: 30px;
}

.input-big::placeholder {
    font-size: 30px;
    color: grey;
}

.input-regular {
    height: 25px;
}

input {
    border: 0;
    border-bottom: 1px black solid;
    color: black;
}