/*
 PlayerRanking
 */

.containerRanking {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 100px 500px 50px;
}

.containerRanking .tituloJuego {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: rgb(173, 158, 17);*/
}

.containerRanking .userPuntaje {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /*  background-color: rgb(173, 158, 17);*/
}

.containerRanking grid-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.containerRanking .contenedor {
    display: flex; /* or inline-flex */
    justify-content: space-between;
}

.containerRanking .flex-item {
    font-size: 230%;
}

.containerRanking .puntajeGeneral {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 150%;
    /*  background-color: rgb(173, 158, 17);*/
}

.containerRanking .botoncito {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    /*  background-color: rgb(173, 158, 17);*/
}

.containerRanking .flex-Button {
    display: flex; /* or inline-flex */
    justify-content: flex-end;
    margin-top: 30px;
}

.containerRanking table {
    counter-reset: rowNumber;
    width: auto;
    border-collapse: collapse;
}

.containerRanking .all {
    width: 100%;
}

.containerRanking table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
}

.containerRanking ul.a {
    list-style-type: circle;
}

.containerRanking .derecha {
    text-align: right;
}

.containerRanking .scroll {
    overflow-x: auto;
    height: 500px;
}
