/*
  Perfil
*/

.profile {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 20px;
}

.usernameSection {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.usernameSection img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px
}

.usernameSection a {
    margin-left: auto;
}

.profile-user-info {
    background-color: var(--main2);
    border-radius: 15px;
    padding: 15px;
    max-height: 90px;
}

.profile-user-stats {
    display: flex;
    justify-content: center;
}

.profile-user-stats table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid var(--main1);
    border-radius: 15px;
}

.profile-user-stats table thead {
    background-color: var(--main2);
    text-align: left;
    vertical-align: bottom;
}

.profile-user-stats td, .profile-user-stats th {
    padding: .5em 1em;
}

.profile-user-stats tr:nth-child(2n-1) td {
    background-color: #e6d1d7;
}

@media screen and (max-width: 1000px) {
    .profile {
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 20px;
    }

    .usernameSection {
        grid-column-start: 2;
        grid-column-end: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
    .usernameSection h1 {
        font-size: larger;
    }

    .profile-user-stats table {
        width: 100%;
        border: 0;
    }

    .profile-user-stats table caption {
        font-size: 1.3em;
    }

    .profile-user-stats table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;}

    .profile-user-stats table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .profile-user-stats table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .profile-user-stats table td::before {
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .profile-user-stats table td:last-child {
        border-bottom: 0;
    }

    .profile-user-stats .item {
        margin: auto;
        align-self: center;
    }

    /*Nombres de labels por columna*/
    .profile-user-stats td:nth-of-type(1):before { content: "Nombre"; }
    .profile-user-stats td:nth-of-type(2):before { content: "Descripción"; }
    .profile-user-stats td:nth-of-type(3):before { content: "Preguntas"; }
    .profile-user-stats td:nth-of-type(4):before { content: "Jugados"; }
    .profile-user-stats td:nth-of-type(5):before { content: "Creado"; }
    /*td:nth-of-type(6):before { content: "Acciones"; } no queda muy bien este*/
}

.dark-mode .profile-user-stats tr:nth-child(2n) td {
    background-color: #ffffff;
}
