/*
  Resumen juego screen
 */

.resumenJuego {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
}

.resumenJuego_Info {
    border: 5px solid var(--main2);
    border-radius: 25px;
    height: 540px;
    padding: 10px;
    font-family: Montserrat, Serif;
    font-size: 25px;
    max-width: 600px;
    font-weight: 300;
    text-align: left;
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    
}
.resumenJuego_PreguntasGrid{
display:grid;
grid-template-rows: 0.2fr  1fr;
grid-template-columns:1fr;
height:540px;
}
.PreguntasHeader{
    text-align: left;

    font-size: 25px;
   

}
.resumenJuego_Preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    padding: 10px;
    background: var(--main2);
    border-radius: 25px;
    margin: 0;


}
.pregunta_derecha{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
}
.pregunta-container {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    margin: auto;
    background: var(--main3);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
   
    

  }
  .preguntas{
    overflow:scroll;
  

  }
  .COVER-GAME{
    height:128px;
     width:252px;
  }
.tituloJuego{
    font-family: Montserrat, Serif;
    font-weight: 300;
    font-size: 40px;

}
.imagen-Juego{
    height: auto;
    width: 100%;
}

.listaPreguntas {
    height: 200px;
    overflow: auto;
    width: 50%;
}
@media screen and (max-width: 1000px) {
    .resumenJuego {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
    .resumenJuego_Info {
        border: 5px solid var(--main2);
        border-radius: 25px;
        height: 540px;
        padding: 10px;
        font-family: Montserrat, Serif;
        font-size: 25px;
        max-width: 1000px;
        font-weight: 300;
        text-align: left;
        padding-left: 50px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}