body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main1: #CE84AD;
  --main2: #CE96A6;
  --main3: #D1A7A0;
  --main4: #D4CBB3;
  --main5: #D2E0BF;
}

h1, h2, h3, h4, h5, span, p {
  font-family: Lato, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/*
  Welcome screen
 */

.index {
  display: flex;
  align-items: center;
  /*height: 100%;*/
  flex-direction: row;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
}

.main_menu img {
  width: 200px;
}

.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
  background: var(--main2);
  border-radius: 25px;
  margin: 0;
}

.main_menu .item {
  margin: 10px;
}

.main_introduction {
  border: 5px solid var(--main2);
  border-radius: 25px;
  height: 540px;
  padding: 10px;
  font-family: Montserrat, Serif;
  font-size: 25px;
  max-width: 600px;
  font-weight: 300;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {
  .main_introduction {
    display: none;
  }
}

/*
  Button Component
*/

button.btn-large {
  font-family: Lato;
  border: none;
  height: 100px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  color: #3b035f;
  background-image: linear-gradient(to right, var(--main4) , var(--main5));
  margin: 13px;
}

/*
  Header Component
*/

div.header {
  height: 50px;
  max-width: 1600px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: var(--main2);
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.header .alignRight {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 15px;
  flex-basis: calc(50% - 15px);
}

.header .alignLeft {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 15px;
  flex-basis: calc(50% - 15px);
}

/*
  Perfil
*/
